<%- include('header', {page: page}) -%>
  <div class="game-home" style="backgound-color: white;">
      <canvas id="canvas" class="game-window"></canvas
  </div>

  
  <script type="text/javascript">
    <% if (mode === 'online'){%>
const game = new WebSocket('wss://militiaio.onrender.com/game');
      <% } %>
var canvas = document.getElementById('canvas');
canvas.width = window.innerWidth;
canvas.height = window.innerHeight;
var ctx = canvas.getContext('2d');
ctx.font = "15px Arial";
var size = 8;
let img = new Image();
img.src = "/village.png";

let originalX;
let originalY;
    
function messageDecoder(message){
  let decoded = {name: '', x: 0, y: 0, color: '', s: 0, m: 1, b: 0, e: 1, cities: []};
  let colons = message.split(';');
  decoded.name = colons[0];
  decoded.x = colons[1];
  decoded.y = colons[2];
  decoded.color = colons[3];
  decoded.s = colons[4];
  decoded.m = colons[5];
  decoded.b = colons[6];
  decoded.e = colons[7]
  let cities = colons[8].split('-');
  decoded.cities = cities;
  return decoded;
};

function drawCountryBorder(x, y, color, opacity=0, width=size, height=size, shape='rect', borderSize=size+3) {
  ctx.globalAlpha = opacity;
  ctx.fillStyle = color;
  if (shape === 'rect'){
    ctx.fillRect(x, y, width, height);
  } else if (shape === 'circle'){
    ctx.beginPath();
    ctx.arc(x+(width/2), y+(height/2), width, 0, 2 * Math.PI);
    ctx.fill();
  };
  ctx.globalAlpha = 1;
};

function battle(defender, attacker){
  let result;
  if (defender.s == 0 && attacker.s == 0){
    return {result: 0, winner: 'draw'};
  } else {
    if (defender.s == 0){
      return {result: attacker.s, winner: 'attacker'};
    } else if (attacker.s == 0){
      return {result: defender.s, winner: 'defender'};
    };
  };
  if (defender.m <= 0 && attacker.m <= 0){
    defender.m = 0;
    attacker.m = 0;
    return {result: 0, winner: 'draw'};
  };
  if (defender.m <= 0){
    defender.m = 0;
  };
  if (attacker.m <= 0){
    attacker.m = 0;
  };
  result = ((defender.s*defender.m*defender.e)-(attacker.s*attacker.m*attacker.e));
  result = Math.floor(result);
  if (result < 0){
    result = {result: -result, winner: 'attacker'};
    defender.s = 0;
    attacker.s = result.result/attacker.m/attacker.e;
  } else if (result > 0){
    result = {result: result, winner: 'defender'};
    attacker.s = 0;
    defender.s = result.result/defender.m/defender.e;
  } else {
    result = {result: 0, winner: 'draw'};
    attacker.s = 0;
    defender.s = 0;
  };
  attacker.s = Math.floor(attacker.s);
  defender.s = Math.floor(defender.s);
  attacker.b += 1;
  defender.b += 1;
  attacker.e += 0.1;
  defender.e += 0.1;
  if (result.winner === 'attacker'){
    defender.m -= 0.1;
    attacker.m += 0.005;
  } else if (result.winner === 'defender'){
    defender.m += 0.1;
    attacker.m -= 0.1;
  } else {
    defender.m -= 0.1;
    attacker.m -= 0.1;
  };
  attacker.e = Math.round(attacker.e * 10) / 10;
  defender.e = Math.round(defender.e * 10) / 10;
  attacker.m = Math.round(attacker.m * 10) / 10;
  defender.m = Math.round(defender.m * 10) / 10;
  return result;
};

function rectCollisionDetect(x1, y1, w1, h1, x2, y2, w2, h2) {
    if (x2 > w1 + x1 || x1 > w2 + x2 || y2 > h1 + y1 || y1 > h2 + y2){
        return false;
    } else {
      return true;
    };
};

function drawMap() {
  let maxColumnX = canvas.width/size;
  let maxColumnY = canvas.height/size;
  ctx.strokeStyle = "#bdbdbd";
  for (let y = 0; y < maxColumnY; y++) {
    for (let x = 0; x < maxColumnX; x++) {
      ctx.strokeRect(x*size, y*size, size, size);
    };
  };
};

var players;
var cities;
let playersName = [];
let mapOffsetX = 0;
let mapOffsetY = 0;


<% if (mode === 'ai'){ %>
class Ai{
  constructor (name, color, x, y, army, cities, key){
    this.name = name;
    this.color = color;
    this.radius = size*1.5;
    this.x = x;
    this.y = y;
    this.army = {s: army.s, m: army.m, b: army.b, e: army.e};
    this.cities = cities;
    this.offset = ctx.measureText(this.name+" - "+this.army.s);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.rectAround = {x: this.x-this.radius-1, y: this.y-this.radius-1, width: this.radius*2+2, height: this.radius*2+7};
    this.coins = 100;
    this.xVel = 0;
    this.yVel = 0;
    this.coinOffset = ctx.measureText("Coins: "+Math.floor(this.coins));
    this.coinOffsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.key2 = key;
  };
  show (){
    ctx.beginPath();
    ctx.arc(this.x, this.y, this.radius, 0, 2 * Math.PI);
    ctx.fillStyle = this.color;
    ctx.fill();
    this.offset = ctx.measureText(this.name+" - "+this.army.s);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.rectAround = {x: this.x-this.radius-1, y: this.y-this.radius-1, width: this.radius*2, height: this.radius*2+7};
    ctx.fillStyle = "black";
    ctx.font = this.radius + "px Arial";
    ctx.fillText(this.name+" - "+this.army.s, this.x-this.offset.width/2, this.y+this.offsetHeight+this.radius);
  };
  update (){
    this.x += this.xVel;
    this.y += this.yVel;
    this.rectAround = {x: this.x-this.radius-1, y: this.y-this.radius-1, width: this.radius*2, height: this.radius*2+7};
    this.offset = ctx.measureText(this.name+" - "+this.army.s);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.show();
    this.showCoins();
  };
  showCoins(){
    this.coinOffset = ctx.measureText("Coins: "+Math.floor(this.coins));
    this.coinOffsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    ctx.fillText("Coins: "+Math.floor(this.coins), this.x-this.coinOffset.width/2, this.y+this.radius+this.offsetHeight+this.coinOffsetHeight+3);
  };
};

<% } %>

    
class Player{
  constructor (name, color, x, y, army, cities, key){
    if (name.length > 10){
      name = name.slice(0, 11)+"...";
    };
    this.name = name;
    this.color = color;
    this.radius = size*1.5;
    this.x = x;
    this.y = y;
    this.army = {s: army.s, m: army.m, b: army.b, e: army.e};
    this.cities = cities;
    this.offset = ctx.measureText(this.name+" - "+this.army.s);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.rectAround = {x: this.x-this.radius-1, y: this.y-this.radius-1, width: this.radius*2+2, height: this.radius*2+7};
    this.coins = 100;
    this.xVel = 0;
    this.yVel = 0;
    playersName.push(this.name);
    this.coinOffset = ctx.measureText("Coins: "+Math.floor(this.coins));
    this.coinOffsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.key2 = key;
  };
  show (){
    ctx.beginPath();
    ctx.arc(this.x, this.y, this.radius, 0, 2 * Math.PI);
    ctx.fillStyle = this.color;
    ctx.fill();
    this.offset = ctx.measureText(this.name+" - "+this.army.s);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.rectAround = {x: this.x-this.radius-1, y: this.y-this.radius-1, width: this.radius*2, height: this.radius*2+7};
    ctx.fillStyle = "black";
    ctx.font = this.radius + "px Arial";
    ctx.fillText(this.name+" - "+this.army.s, this.x-this.offset.width/2, this.y+this.offsetHeight+this.radius);
  };
  update (){
    this.x += this.xVel;
    this.y += this.yVel;
    this.rectAround = {x: this.x-this.radius-1, y: this.y-this.radius-1, width: this.radius*2, height: this.radius*2+7};
    this.offset = ctx.measureText(this.name+" - "+this.army.s);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.show();
    this.showCoins();
  };
  updateOnline (newX, newY){
    let cities = '';
    this.cities.forEach((city) => {
      cities = cities + city + '-';
    });
    cities = cities.slice(0, -1);
    game.send(this.name+";"+(newX-originalX)+";"+(newY-originalY)+";"+this.color+";"+this.army.s+";"+this.army.m+";"+ this.army.b+";"+this.army.e+";"+cities+";"+"type:gameMessage");
  };
  showCoins(){
    this.coinOffset = ctx.measureText("Coins: "+Math.floor(this.coins));
    this.coinOffsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    ctx.fillText("Coins: "+Math.floor(this.coins), this.x-this.coinOffset.width/2, this.y+this.radius+this.offsetHeight+this.coinOffsetHeight+3);
  };
};

class City{
  constructor (name, x, y){ 
    this.name = name;
    this.x = x;
    this.y = y;
    this.country = 'neutral';
    this.size = size*3;
    this.army = {s: 50, m: 1, b: 0, e: 1};
    this.offset = ctx.measureText(this.name+" - "+this.army.s);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.rectAround = {x: this.x - this.offset.width/2 - 2, y: this.y - 2, width: this.size + this.offset.width + 4, height: this.size + this.offsetHeight + 4};
    this.color = 'white';
    this.coins = 0;
    this.coinsPerTurn = 0.02;
    this.coinOffset = ctx.measureText("Coins: "+Math.floor(this.coins));
    this.coinOffsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
  };
  show (){
    this.x += mapOffsetX;
    this.y += mapOffsetY;
    this.coins = this.coins + this.coinsPerTurn;
    this.coinOffset = ctx.measureText("Coins: "+Math.floor(this.coins));
    this.coinOffsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.offset = ctx.measureText(this.name+" - "+this.army.s);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.rectAround = {x: this.x - this.offset.width/2 - 2, y: this.y - 2, width: this.size + this.offset.width + 4, height: this.size + this.offsetHeight + 4};
    ctx.drawImage(img, this.x, this.y, this.size, this.size);
    ctx.fillStyle = "black";
    ctx.fillText(this.name+" - "+this.army.s, this.x-this.offset.width/2+this.size/2, this.y+this.size+this.offsetHeight);
    ctx.fillText("Coins: "+Math.floor(this.coins), this.x-this.coinOffset.width/2+this.size/2, this.y+this.size+this.offsetHeight+this.coinOffsetHeight+3);
    if (this.country !== 'neutral'){
      drawCountryBorder(this.rectAround.x, this.rectAround.y, this.color, 0.3, this.rectAround.width, this.rectAround.height, 'circle');
    };
  };
  setCountry(country, color){
    this.country = country;
    this.color = color;
    drawCountryBorder(this.rectAround.x, this.rectAround.y, color, 0.3, this.rectAround.width, this.rectAround.height, 'circle');
  };
};
    
<% if (mode === 'local'){ %>
  function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min) + min);
}
players = [new Player("<%=name%>", "<%=color%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'KeyV'),
          new Player("<%=player2Name%>", "<%=color2%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'KeyN')];
  <% } else if(mode === 'local3') { %>
    function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min) + min);
}
players = [new Player("<%=name%>", "<%=color%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'Digit1'),
          new Player("<%=player2Name%>", "<%=color2%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'Enter'),
           new Player("<%=player3Name%>", "<%=color3%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'Comma')
];
<% } else if(mode === 'local4') { %>
  function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min) + min);
}
players = [new Player("<%=name%>", "<%=color%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'Digit1'),
          new Player("<%=player2Name%>", "<%=color2%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'Enter'),
           new Player("<%=player3Name%>", "<%=color3%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'Comma'),
           new Player("<%=player4Name%>", "<%=color4%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'Mouse')
];
<% } else if(mode === 'ai') { %>
  function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min) + min);
}
players = [new Player("<%=name%>", "<%=color%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'KeyV')]
let aiColors = ['red', 'green', 'blue', 'yellow', 'brown', 'purple']
let numOfAIs = <%= ais %>;
for (var i = 0; i < numOfAIs; i++){
  players.push(new Ai('AI'+players.length, aiColors[players.length-1], getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'None'))
};

<% } else { %>
players = [new Player("<%=name%>", "<%=color%>", canvas.width/2, canvas.height/2, {s: 100, m: 1, b: 0, e: 1}, [])];
<% } %>
cities = [
 new City( "Paris", 67*size, 61*size ),
 new City( "London", 5*size, 10*size ),
 new City( "Rome", 95*size, 10*size ),
 new City( "Moscow", 110*size, 50*size ),
  new City( "Berlin", 71*size, 14*size ),
  new City( "Amsterdam", 30*size, 80*size ),
  new City( "Istanbul", 24*size, 40*size ),
  new City( "Ankara", 140*size, 59*size ),
 new City( "Dubai", 110*size, 88*size ),
  new City( "Cairo", 180*size, 10*size ),
  new City( "Zurich", 130*size, 20*size ),
  new City( "Budapest", 170*size, 85*size ),
 ];
let esc;
img.onload = () => {
  <% if (mode === "online"){ %>
  game.addEventListener("open", e => {
    for (player in players){
      players[player].show();
    };
    for (city in cities){
      cities[city].show();
    };
    originalX = cities[0].x;
    originalY = cities[0].y;  
    loop();
  });
    <% } else { %>
      for (player in players){
      players[player].show();
    };
    for (city in cities){
      cities[city].show();
    };
    originalX = cities[0].x;
    originalY = cities[0].y;  
    loop();
      <% } %>
};
function roundTo(n, digits) {
  if (digits === undefined) {
    digits = 0;
  }

  var multiplicator = Math.pow(10, digits);
  n = parseFloat((n * multiplicator).toFixed(11));
  return Math.round(n) / multiplicator;
};
let turn = 0;
let paused = false;
let winnerCandidates = [];
function loop() {
  <% if (mode === 'online'){ %>
  turn += 0.01;
  turn = roundTo(turn, 2);
  if (Number.isInteger(turn)){
    players[0].updateOnline(cities[0].x, cities[0].y);
  };
  <% } %>
  ctx.clearRect(0,0,canvas.width, canvas.height);
  drawMap();
  <% if (mode !== 'online'){%>
    winnerCandidates = [];
  for (player in players){
    let expr1 = players[player].army.s !== 0;
    let expr2 = players[player].coins > 10;
    let expr3 = players[player].cities === [];
    if (expr1 || expr2 || expr3){
      winnerCandidates.push(players[player]);
    };
    if (players[player].x + players[player].radius*2 < 0){
      players[player].x = canvas.width - players[player].radius*2;
    };
    if (players[player].x - players[player].radius*2 > canvas.width){
      players[player].x = 0 + players[player].radius*2;
    };
    if (players[player].y + players[player].radius*2 > canvas.height){
      players[player].y = 0 + players[player].radius*2;
    };
    if (players[player].y - players[player].radius*2 < 0){
      players[player].y = canvas.height - players[player].radius*2;
    };
    players[player].update();
    for (playerI in players){
      let playerCollision = rectCollisionDetect(players[player].rectAround.x, players[player].rectAround.y, players[player].rectAround.width, players[player].rectAround.height, players[playerI].rectAround.x, players[playerI].rectAround.y, players[playerI].rectAround.width, players[playerI].rectAround.height);
    if (playerCollision && playerI !== player){
      let playerResult = battle(players[player].army, players[playerI].army);
      if (playerResult.winner === 'attacker'){
        players[player].x = getRandomInt(50, canvas.width-50);
        players[player].y= getRandomInt(50, canvas.height-50);
        players[playerI].coins += players[player].coins/2;
        players[player].coins = players[player].coins/2;
      } else {
        players[playerI].x = getRandomInt(50, canvas.width-50);
        players[playerI].y= getRandomInt(50, canvas.height-50);
        players[player].coins += players[playerI].coins/2;
        players[playerI].coins = players[playerI].coins/2;
      };
    };
    };
  for (city in cities){
    cities[city].show();
    let collison = rectCollisionDetect(cities[city].rectAround.x, cities[city].rectAround.y, cities[city].rectAround.width, cities[city].rectAround.height, players[player].rectAround.x, players[player].rectAround.y, players[player].rectAround.width, players[player].rectAround.height);
    if (collison){
      if (cities[city].country !== players[player].name){
        let result = battle(cities[city].army, players[player].army);
        if (result.winner === 'attacker'){
          for (playerII in players){
            if (players[playerII].name === cities[city].country){
              players[playerII].cities.splice(players[playerII].cities.indexOf(cities[city].country), 1);
            };
          };
          cities[city].setCountry(players[player].name, players[player].color);
          players[player].cities.push(cities[city].name);
        };
      };
      if (cities[city].country === players[player].name && players[player].coins < 1001 && cities[city].coins > 2){
        players[player].coins += Math.floor(cities[city].coins);
        cities[city].coins = 0;
      };
      if (cities[city].country === players[player].name && esc === players[player].key2 && players[player].coins-10 > 0){
        cities[city].army.s += 10;
        cities[city].army.e = (cities[city].army.e+1)/2;
        cities[city].army.m = (cities[city].army.m+1)/2;
        players[player].coins -= 10;
      }
    };
  };
    };
    <% } else {%>
for (player in players){
    players[player].update();
};
  for (city in cities){
    cities[city].show();
    let collison = rectCollisionDetect(cities[city].rectAround.x, cities[city].rectAround.y, cities[city].rectAround.width, cities[city].rectAround.height, players[0].r ectAround.x, players[0].rectAround.y, players[0].rectAround.width, players[0].rectAround.height);
    if (collison){
      if (cities[city].country !== players[0].name){
        let result = battle(cities[city].army, players[0].army);
        if (result.winner === 'attacker'){
          cities[city].setCountry(players[0].name, players[0].color);
          players[0].cities.push(cities[city].name);
          cities[city].coins = 0;
        };
      } else if (cities[city].country !== 'neutral' && cities[city].coins > 9 && players[0].coins < 1001){
        players[0].coins += Math.floor(cities[city].coins);
        cities[city].coins = 0;
      };
    };
  };
  
    <% } %>
  <% if (mode !== 'online'){ %>
  if (esc !== "Escape" && winnerCandidates.length !== 1){
    esc = '';
    requestAnimationFrame(loop);
  } else if (winnerCandidates.length === 1){
    paused = true;
    ctx.font = "160px Arial";
    ctx.fillStyle = "black";
    let win = ctx.measureText(winnerCandidates[0].name + ' won!');
    ctx.fillText(winnerCandidates[0].name + ' won!', (canvas.width-win.width)/2, 380);
  } else {
    paused = true;
    ctx.font = "250px Arial";
    ctx.fillStyle = "black";
    ctx.fillText('Paused', 400, 450)
  };
    <% } %>
};

var velChange = 5;
<% if (mode === 'online'){ %>
game.addEventListener("message", msg => {
  let player = messageDecoder(msg.data);
  let i = playersName.indexOf(player.name);
  if (i == -1){
    players.push(new Player(player.name, player.color, players[0].x-player.x, players[0].y-player.y, {s: player.s, m: player.m, b: player.b, e: player.e}, player.cities));
    playersName.push(player.name);
  } else if(players[0].name != player.name){
    players[i+1].x = players[0].x-player.x;
    players[i+1].y = players[0].y-player.y;
  };
});
<% } %>
document.addEventListener("keydown", event => {
  <% if (mode === 'online'){ %>
    if (event.code === "KeyW" || event.code === "ArrowUp"){
      mapOffsetY = velChange;
    };
    if (event.code === "KeyS" || event.code === "ArrowDown"){
      mapOffsetY = -velChange;
    };
    if (event.code === "KeyA" || event.code === "ArrowLeft"){
      mapOffsetX = velChange;
    };
    if (event.code === "KeyD" || event.code === "ArrowRight"){
      mapOffsetX = -velChange;
    };
  <% } else if (mode === 'local') { %>
    if (event.code === "KeyW"){
      players[0].yVel = -velChange;
    };
    if (event.code === "ArrowUp"){
      players[1].yVel = -velChange;
    };
    if (event.code === "KeyS"){
      players[0].yVel = velChange;
    };
    if (event.code === "ArrowDown"){
      players[1].yVel = velChange;
    };
    if (event.code === "KeyA"){
      players[0].xVel = -velChange;
    };
    if (event.code === "ArrowLeft"){
      players[1].xVel = -velChange;
    };
    if (event.code === "KeyD"){
      players[0].xVel = velChange;
    };
    if (event.code === "ArrowRight"){
      players[1].xVel = velChange;
    };
    <% } else if (mode === 'local3') { %>
    if (event.code === "KeyW"){
      players[0].yVel = -velChange;
    };
    if (event.code === "ArrowUp"){
      players[1].yVel = -velChange;
    };
    if (event.code === 'KeyY'){
      players[2].yVel = -velChange;
    };
    if (event.code === "KeyS"){
      players[0].yVel = velChange;
    };
    if (event.code === "ArrowDown"){
      players[1].yVel = velChange;
    };
    if (event.code === 'KeyH'){
      players[2].yVel = velChange;
    };
    if (event.code === "KeyA"){
      players[0].xVel = -velChange;
    };
    if (event.code === "ArrowLeft"){
      players[1].xVel = -velChange;
    };
    if (event.code === 'KeyG'){
      players[2].xVel = -velChange;
    };
    if (event.code === "KeyD"){
      players[0].xVel = velChange;
    };
    if (event.code === "ArrowRight"){
      players[1].xVel = velChange;
    };
    if (event.code === 'KeyJ'){
      players[2].xVel = velChange;
    };
  <% } else if (mode === 'ai'){ %>
    if (event.code === "KeyW" || event.code === 'ArrowUp'){
      players[0].yVel = -velChange;
    };
    if (event.code === "KeyS" || event.code === 'ArrowDown'){
      players[0].yVel = velChange;
    };
    if (event.code === "KeyA" || event.code === 'ArrowLeft'){
      players[0].xVel = -velChange;
    };
    if (event.code === "KeyD" || event.code === 'ArrowRight'){
      players[0].xVel = velChange;
    };
    <% } %>
});
document.addEventListener("keyup", event => {
  esc = event.code;
  <% if (mode === 'online'){ %>
  if (event.code === "KeyW" || event.code === "ArrowUp"){
    mapOffsetY = 0;
  };
  if (event.code === "KeyS" || event.code === "ArrowDown"){
    mapOffsetY = 0;
  };
  if (event.code === "KeyA" || event.code === "ArrowLeft"){
    mapOffsetX = 0;
  };
  if (event.code === "KeyD" || event.code === "ArrowRight"){
    mapOffsetX = 0;
  };
  if (event.code === 'Space'){
    if (players[0].coins - 10 >= 0){
      players[0].coins -= 10;
      players[0].army.s += 10;
      players[0].army.e = (players[0].army.e+1)/2;
      players[0].army.m = (players[0].army.m+1)/2;
    };
  };
    <% } else if (mode === "local") { %>
    if (event.code === 'Space' && paused == true){
      paused = false;
      loop();
    };
    if (event.code === "KeyW"){
      players[0].yVel = 0;
    };
    if (event.code === "ArrowUp"){
      players[1].yVel = 0;
    };
    if (event.code === "KeyS"){
      players[0].yVel = 0;
    };
    if (event.code === "ArrowDown"){
      players[1].yVel = 0;
    };
    if (event.code === "KeyA"){
      players[0].xVel = 0;
    };
    if (event.code === "ArrowLeft"){
      players[1].xVel = 0;
    };
    if (event.code === "KeyD"){
      players[0].xVel = 0;
    };
    if (event.code === "ArrowRight"){
      players[1].xVel = 0;
    };
    if (event.code === 'KeyC'){
    if (players[0].coins - 10 >= 0){
      players[0].coins -= 10;
      players[0].army.s += 10;
      players[0].army.e = (players[0].army.e+1)/2;
      players[0].army.m = (players[0].army.m+1)/2;
    };
  };
    if (event.code === 'KeyM'){
    if (players[1].coins - 10 >= 0){
      players[1].coins -= 10;
      players[1].army.s += 10;
      players[1].army.e = (players[1].army.e+1)/2;
      players[1].army.m = (players[1].army.m+1)/2;
    };
  };
    <% } else if (mode === "local3") { %>
    if (event.code === 'Space' && paused == true){
      paused = false;
      loop();
    };
    if (event.code === "KeyW"){
      players[0].yVel = 0;
    };
    if (event.code === "ArrowUp"){
      players[1].yVel = 0;
    };
    if (event.code === "KeyY"){
      players[2].yVel = 0;
    };
    if (event.code === "KeyS"){
      players[0].yVel = 0;
    };
    if (event.code === "ArrowDown"){
      players[1].yVel = 0;
    };
    if (event.code === "KeyH"){
      players[2].yVel = 0;
    };
    if (event.code === "KeyA"){
      players[0].xVel = 0;
    };
    if (event.code === "ArrowLeft"){
      players[1].xVel = 0;
    };
    if (event.code === "KeyG"){
      players[2].xVel = 0;
    };
    if (event.code === "KeyD"){
      players[0].xVel = 0;
    };
    if (event.code === "ArrowRight"){
      players[1].xVel = 0;
    };
    if (event.code === "KeyJ"){
      players[2].xVel = 0;
    };
    if (event.code === 'KeyQ'){
    if (players[0].coins - 10 >= 0){
      players[0].coins -= 10;
      players[0].army.s += 10;
      players[0].army.e = (players[0].army.e+1)/2;
      players[0].army.m = (players[0].army.m+1)/2;
    };
  };
    if (event.code === 'ShiftRight'){
    if (players[1].coins - 10 >= 0){
      players[1].coins -= 10;
      players[1].army.s += 10;
      players[1].army.e = (players[1].army.e+1)/2;
      players[1].army.m = (players[1].army.m+1)/2;
    };
  };
    if (event.code === 'KeyM'){
    if (players[2].coins - 10 >= 0){
      players[2].coins -= 10;
      players[2].army.s += 10;
      players[2].army.e = (players[1].army.e+1)/2;
      players[2].army.m = (players[1].army.m+1)/2;
    };
  };
    <% } else if (mode === 'ai'){ %>
    if (event.code === 'Space' && paused == true){
      paused = false;
      loop();
    };
    if (event.code === "KeyW" || event.code === 'ArrowUp'){
      players[0].yVel = 0;
    };
    if (event.code === "KeyS" || event.code === 'ArrowDown'){
      players[0].yVel = 0;
    };
    if (event.code === "KeyA" || event.code === 'ArrowLeft'){
      players[0].xVel = 0;
    };
    if (event.code === "KeyD" || event.code === 'ArrowRight'){
      players[0].xVel = 0;
    };
    if (event.code === "KeyC"){
      if (players[0].coins - 10 >= 0){
        players[0].coins -= 10;
        players[0].army.s += 10;
        players[0].army.e = (players[0].army.e+1)/2;
        players[0].army.m = (players[0].army.m+1)/2;
      };
    };
    <% } %>
});
</script>
  <%- include('footer') -%>

