<%- include('header', {page: page}) -%>
  <div class="game-home" style="backgound-color: white;">
      <canvas id="canvas" class="game-window" style="background-color: #e5f0f6;"></canvas
  </div>

  
  <script type="text/javascript">
    <% if (mode === 'online'){%>
const game = new WebSocket('wss://militiaio.onrender.com/game');
      <% } %>
var canvas = document.getElementById('canvas');
canvas.width = window.innerWidth;
canvas.height = window.innerHeight;
var ctx = canvas.getContext('2d');
ctx.font = "15px Arial";
var size = 8;
let img = new Image();
img.src = "/village.png";
let europeMap = new Image();
europeMap.src = '/eurasia.png';

function messageDecoder(message){
  let decoded = {name: '', x: 0, y: 0, color: '', s: 0, m: 1, b: 0, e: 1, cities: []};
  let colons = message.split(';');
  decoded.name = colons[0];
  decoded.x = Number(colons[1]);
  decoded.y = Number(colons[2]);
  decoded.color = colons[3];
  decoded.s = colons[4];
  decoded.m = colons[5];
  decoded.b = colons[6];
  decoded.e = colons[7]
  let cities = colons[8].split('-');
  decoded.cities = cities;
  return decoded;
};

function drawCountryBorder(x, y, color, opacity=0, width=size, height=size, shape='rect', borderSize=size+3) {
  ctx.globalAlpha = opacity;
  ctx.fillStyle = color;
  if (shape === 'rect'){
    ctx.fillRect(x, y, width, height);
  } else if (shape === 'circle'){
    ctx.beginPath();
    ctx.arc(x+(width/2), y+(height/2), width, 0, 2 * Math.PI);
    ctx.fill();
  };
  ctx.globalAlpha = 1;
};

function battle(defender, attacker){
  let result;
  if (defender.s == 0 && attacker.s == 0){
    return {result: 0, winner: 'draw'};
  } else {
    if (defender.s == 0){
      return {result: attacker.s, winner: 'attacker'};
    } else if (attacker.s == 0){
      return {result: defender.s, winner: 'defender'};
    };
  };
  if (defender.m <= 0 && attacker.m <= 0){
    defender.m = 0;
    attacker.m = 0;
    return {result: 0, winner: 'draw'};
  };
  if (defender.m <= 0){
    defender.m = 0;
  };
  if (attacker.m <= 0){
    attacker.m = 0;
  };
  result = ((defender.s*defender.m*defender.e)-(attacker.s*attacker.m*attacker.e));
  result = Math.floor(result);
  if (result < 0){
    result = {result: -result, winner: 'attacker'};
    defender.s = 0;
    attacker.s = result.result/attacker.m/attacker.e;
  } else if (result > 0){
    result = {result: result, winner: 'defender'};
    attacker.s = 0;
    defender.s = result.result/defender.m/defender.e;
  } else {
    result = {result: 0, winner: 'draw'};
    attacker.s = 0;
    defender.s = 0;
  };
  attacker.s = Math.floor(attacker.s);
  defender.s = Math.floor(defender.s);
  attacker.b += 1;
  defender.b += 1;
  attacker.e += 0.1;
  defender.e += 0.1;
  if (result.winner === 'attacker'){
    defender.m -= 0.1;
    attacker.m += 0.005;
  } else if (result.winner === 'defender'){
    defender.m += 0.1;
    attacker.m -= 0.1;
  } else {
    defender.m -= 0.1;
    attacker.m -= 0.1;
  };
  attacker.e = Math.round(attacker.e * 10) / 10;
  defender.e = Math.round(defender.e * 10) / 10;
  attacker.m = Math.round(attacker.m * 10) / 10;
  defender.m = Math.round(defender.m * 10) / 10;
  return result;
};

function rectCollisionDetect(x1, y1, w1, h1, x2, y2, w2, h2, res='default') {
    if (x2 > w1 + x1 || x1 > w2 + x2 || y2 > h1 + y1 || y1 > h2 + y2){
        return false;
    } else if (res === 'default') {
      return true;
    } else if (res === 'lake/river check'){
      let leftSide = x2 < x1 + w1 && x2+25 > x1 + w1;
      let topSide = y2 < y1 + h1 && y2+25 > y1 + h1;
      let rightSide = x1 < x2 + w2 && x1+25 > x2 + w2;
      let bottomSide = y1 < y2 + h2 && y1+25 > y2 + h2;
      return {top: topSide, left: leftSide, bottom: bottomSide, right: rightSide};
    };
};
function rectCircleCollision(circle,rect){
  var distX = Math.abs(circle.x - rect.x-rect.w/2);
  var distY = Math.abs(circle.y - rect.y-rect.h/2);
  if (distX > (rect.w/2 + circle.r)) { return false; };
  if (distY > (rect.h/2 + circle.r)) { return false; };
  if (distX <= (rect.w/2)) { return true; };
  if (distY <= (rect.h/2)) { return true; };
  var dx=distX-rect.w/2;
  var dy=distY-rect.h/2;
  return (dx*dx+dy*dy<=(circle.r*circle.r));
};

var players;
var cities;
let playersName = [];
let mapOffsetX = 0;
let mapOffsetY = 0;


<% if (mode === 'ai' || mode === 'sim'){ %>
class Ai{
  constructor (name, color, x, y, army, cities, key){
    this.name = name;
    this.color = color;
    this.radius = size*1.5;
    this.x = x;
    this.y = y;
    this.army = {s: army.s, m: army.m, b: army.b, e: army.e};
    this.cities = cities;
    this.offset = ctx.measureText(this.name+" - "+this.army.s);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.rectAround = {x: this.x-this.radius-1, y: this.y-this.radius-1, width: this.radius*2+2, height: this.radius*2+7};
    this.coins = 100;
    this.xVel = 0;
    this.yVel = 0;
    this.coinOffset = ctx.measureText("Coins: "+Math.floor(this.coins));
    this.coinOffsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.key2 = key;
    this.type = 'ai';
    this.pTargets = [];
    this.cTargets = [];
    this.playing = true;
  };
  show (){
    ctx.beginPath();
    ctx.arc(this.x, this.y, this.radius, 0, 2 * Math.PI);
    ctx.fillStyle = this.color;
    ctx.fill();
    this.offset = ctx.measureText(this.name+" - Army: "+this.army.s);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.rectAround = {x: this.x-this.radius-1, y: this.y-this.radius-1, width: this.radius*2, height: this.radius*2+7};
    ctx.fillStyle = "black";
    ctx.font = this.radius + "px Arial";
    ctx.fillText(this.name+" - Army: "+this.army.s, this.x-this.offset.width/2, this.y+this.offsetHeight+this.radius);
  };
  update (){
    this.pTargets = players;
    this.cTargets = cities;
    if (this.playing){
      
      for (i in this.pTargets){
        if (this.army.s >= this.pTargets[i].army.s && this.pTargets[i].name !== this.name && this.pTargets[i].playing && this.pTargets[i].cities.length == 0){
          if (this.x > this.pTargets[i].x){
            this.xVel = -5;
          } else if (this.x < this.pTargets[i].x) {
            this.xVel = 5;
          } else {
            this.xVel = 0;
          };
          if (this.y < this.pTargets[i].y){
            this.yVel = 5;
          } else if (this.y > this.pTargets[i].y) {
            this.yVel = -5;
          } else {
            this.yVel = 0;
          };
        } else if (this.coins <= this.cities.length){
          for (city in this.cTargets){
            if (this.cTargets.country !== this.name && this.cTargets[city].army.s < this.army.s){
              if (this.x > this.cTargets[city].x){
                this.xVel = -5;
              } else if (this.x < this.cTargets[city].x) {
                this.xVel = 5;
              } else {
                this.xVel = 0;
              };
              if (this.y < this.cTargets[city].y){
                this.yVel = 5;
              } else if (this.y > this.cTargets[city].y) {
                this.yVel = -5;
              } else {
                this.yVel = 0;
              };
            };
          };
        } else if (this.cities.length !== 0) {
          for (city in this.cTarget){
            if (this.cTargets.country == this.name){
              let reinforceColision = rectCollisionDetect(this.x, this.y, this.rectAround.width, this.rectAround.height, this.cTargets[city].x, this.cTargets[city].y, this.cTargets[city].rectAround.width, this.cTargets[city].rectAround.height);
              if (!reinforceColision ){
                if (this.x > this.cTargets[city].x){
                  this.xVel = -5;
                } else if (this.x < this.cTargets[city].x) {
                  this.xVel = 5;
                } else {
                  this.xVel = 0;
                };
                if (this.y < this.cTargets[city].y){
                  this.yVel = 5;
                } else if (this.y > this.cTargets[city].y) {
                  this.yVel = -5;
                } else {
                  this.yVel = 0;
                };
              } else if (reinforceColision && this.coins - 10 >= 0 && this.cTargets[city].army.s <= this.cities.length * 10) {
                this.cTargets[city].army.s += 10;
                this.cTargets[city].army.e = (this.cTargets[city].army.e+1)/2;
                this.cTargets[city].army.m = (this.cTargets[city].army.m+1)/2;
                this.coins -= 10;
              };
            } else {
            this.xVel = 0;
            this.yVel = 0;
          };
          };
        };
      };
      if (this.coins >= 10) {
        this.coins -= 10;
        this.army.s += 10;
        this.army.e = (this.army.e+1)/2;
        this.army.m = (this.army.m+1)/2;
      };
    };
    if (!this.playing){
      this.xVel = 0;
      this.yVel = 0;
    };
    this.x += this.xVel;
    this.y += this.yVel;
    this.rectAround = {x: this.x-this.radius-1, y: this.y-this.radius-1, width: this.radius*2, height: this.radius*2+7};
    this.offset = ctx.measureText(this.name+" - "+this.army.s);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.show();
    this.showCoins();
  };
  showCoins(){
    this.coinOffset = ctx.measureText("Coins: "+Math.floor(this.coins));
    this.coinOffsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    ctx.fillText("Coins: "+Math.floor(this.coins), this.x-this.coinOffset.width/2, this.y+this.radius+this.offsetHeight+this.coinOffsetHeight+3);
  };
};
let playerIndex = 0;
<% } %>

    
class Player{
  constructor (name, color, x, y, army, cities, key){
    if (name.length > 20){
      name = name.slice(0, 21)+"...";
    };
    this.name = name;
    this.color = color;
    this.radius = size*1.5;
    this.x = x;
    this.y = y;
    this.army = {s: army.s, m: army.m, b: army.b, e: army.e};
    this.cities = cities;
    this.offset = ctx.measureText(this.name+" - Army: "+this.army.s);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.rectAround = {x: this.x-this.radius, y: this.y-this.radius, width: this.radius*2, height: this.radius*2};
    this.coins = 100;
    this.xVel = 0;
    this.yVel = 0;
    playersName.push(this.name);
    this.coinOffset = ctx.measureText("Coins: "+Math.floor(this.coins));
    this.coinOffsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.key2 = key;
    this.type = 'player';
    this.playing = true;
    this.xVelChange = 0;
    this.yVelChange = 0;
    this.boats = 0;
  };
  show (){
    ctx.fillStyle = this.color;
    ctx.beginPath();
    ctx.arc(this.x, this.y, this.radius, 0, 2 * Math.PI);
    ctx.fill();
    this.offset = ctx.measureText(this.name+" - Army: "+this.army.s);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.rectAround = {x: this.x-this.radius, y: this.y-this.radius, width: this.radius*2, height: this.radius*2};
    ctx.fillStyle = "black";
    ctx.font = this.radius + "px Arial";
    ctx.fillText(this.name+" - Army: "+this.army.s, this.x-this.offset.width/2, this.y+this.offsetHeight+this.radius);
    ctx.strokeRect(this.rectAround.x, this.rectAround.y, this.rectAround.width, this.rectAround.height);
  };
  update (){
    if (this.playing){
      this.x += this.xVel;
      this.y += this.yVel;
    };
    this.rectAround = {x: this.x-this.radius-1, y: this.y-this.radius-1, width: this.radius*2, height: this.radius*2+7};
    this.offset = ctx.measureText(this.name+" - Army: "+this.army.s);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.show();
    this.showCoins();
  };
  updateOnline (){
    let cities = '';
    this.cities.forEach((city) => {
      cities = cities + city + '-';
    });
    cities = cities.slice(0, -1);
    game.send(this.name+";"+(backgroundX)+";"+(backgroundY)+";"+this.color+";"+this.army.s+";"+this.army.m+";"+ this.army.b+";"+this.army.e+";"+cities+";"+"type:gameMessage");
  };
  showCoins(){
    this.coinOffset = ctx.measureText("Coins: "+Math.floor(this.coins));
    this.coinOffsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    ctx.fillText("Coins: "+Math.floor(this.coins), this.x-this.coinOffset.width/2, this.y+this.radius+this.offsetHeight+this.coinOffsetHeight+3);
  };
};

class City{
  constructor (name, x, y){ 
    this.name = name;
    this.x = x;
    this.y = y;
    this.country = 'neutral';
    this.size = size*3;
    this.army = {s: 50, m: 1, b: 0, e: 1};
    this.offset = ctx.measureText(this.name+" - Defence: "+this.army.s);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.rectAround = {x: this.x - this.offset.width/2 - 2 - (this.army.s/2), y: this.y - 2, width: this.size + this.offset.width + 4 + (this.army.s/2), height: this.size + this.offsetHeight + 4};
    this.color = 'white';
    this.coins = 0;
    this.coinsPerTurn = 0.02;
    this.coinOffset = ctx.measureText("Coins: "+Math.floor(this.coins));
    this.coinOffsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
  };
  show (){
    this.x += mapOffsetX;
    this.y += mapOffsetY;
    this.coins = this.coins + this.coinsPerTurn;
    this.coinOffset = ctx.measureText("Coins: "+Math.floor(this.coins));
    this.coinOffsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.offset = ctx.measureText(this.name+" -   "+this.army.s);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
    this.rectAround = {x: this.x - this.offset.width/2 - 2 - (this.army.s/2), y: this.y - 2, width: this.size + this.offset.width + 4 + (this.army.s/2), height: this.size + this.offsetHeight + 4};
    ctx.drawImage(img, this.x, this.y, this.size, this.size);
    ctx.fillStyle = "black";
    ctx.fillText(this.name+" - "+this.army.s, this.x-this.offset.width/2+this.size/2, this.y+this.size+this.offsetHeight);
    ctx.fillText("Coins: "+Math.floor(this.coins), this.x-this.coinOffset.width/2+this.size/2, this.y+this.size+this.offsetHeight+this.coinOffsetHeight+3);
    if (this.country !== 'neutral'){
      drawCountryBorder(this.rectAround.x, this.rectAround.y, this.color, 0.2, this.rectAround.width, this.rectAround.height, 'circle');
    };
  };
  setCountry(country, color){
    this.country = country;
    this.color = color;
    drawCountryBorder(this.rectAround.x, this.rectAround.y, color, 0.2, this.rectAround.width, this.rectAround.height, 'circle');
  };
};
    
<% if (mode === 'local'){ %>
  function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min) + min);
}

players = [new Player("<%=name%>", "<%=color%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'Digit1'),
          new Player("<%=player2Name%>", "<%=color2%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'KeyM')];
  <% } else if(mode === 'local3') { %>
    function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min) + min);
}

players = [new Player("<%=name%>", "<%=color%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'Digit1'),
          new Player("<%=player2Name%>", "<%=color2%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'Enter'),
           new Player("<%=player3Name%>", "<%=color3%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'KeyM')
];
<% } else if(mode === 'local4') { %>
  function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min) + min);
}

players = [new Player("<%=name%>", "<%=color%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'Digit1'),
          new Player("<%=player2Name%>", "<%=color2%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'Enter'),
           new Player("<%=player3Name%>", "<%=color3%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'KeyM'),
           new Player("<%=player4Name%>", "<%=color4%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'Mouse')
];
<% } else if(mode === 'ai') { %>
  function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min) + min);
}
players = [new Player("<%=name%>", "<%=color%>", getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'KeyV')]
let aiColors = ['red', 'green', 'blue', 'yellow', 'orange', '#Bb1be6', '#1bd8e6', '#E61bd8', '#E6ca1b', '#E61b89']
let numOfAIs = <%= ais %>;
for (var i = 0; i < numOfAIs; i++){
  players.push(new Ai('AI'+players.length, aiColors[players.length-1], getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'None'))
};

<% } else if(mode === 'sim') { %>
players = [];
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min) + min);
}
let aiColors = ['red', 'green', 'blue', 'yellow', '#B2ff0a', '#Bb1be6', '#1bd8e6', '#0affb2', '#E6ca1b', '#E61b89']
let numOfAIs = <%= ais %>;
for (var i = 0; i < numOfAIs; i++){
  players.push(new Ai('AI'+players.length, aiColors[players.length], getRandomInt(50, canvas.width-50), getRandomInt(50, canvas.height-50), {s: 100, m: 1, b: 0, e: 1}, [], 'None'))
};
  
<% } else { %>
players = [new Player("<%=name%>", "<%=color%>", canvas.width/2, canvas.height/2, {s: 100, m: 1, b: 0, e: 1}, [], 'KeyM')];
<% } %>
let mapScale = 1.3;
let backgroundX = -5;
let backgroundY = -330;
let backgroundX1 = backgroundX;
let backgroundY1 = backgroundY;

cities = [
new City( "Paris", 23*size*mapScale, 27*size*mapScale ),
new City( "London", 19*size*mapScale, 20*size*mapScale ),
new City( "Rome", 39*size*mapScale, 39*size*mapScale ),
new City( "Moscow", 80*size*mapScale, 9*size*mapScale ),
new City( "Berlin", 35*size*mapScale, 20*size*mapScale ),
new City( "Belgrade", 51*size*mapScale, 32*size*mapScale ),
new City( "Istanbul", 61*size*mapScale, 40*size*mapScale ),
new City( "Madrid", 11*size*mapScale, 42*size*mapScale ),
new City( "Kiev", 63*size*mapScale, 20*size*mapScale ),
new City( "Athens", 53*size*mapScale, 45*size*mapScale ),
new City( "Warsaw", 47*size*mapScale, 20*size*mapScale ),
new City( "Cairo", 68*size*mapScale, 61*size*mapScale ),
new City( "Edinburg", 15*size*mapScale, 11*size*mapScale ),
new City( "Riga", 53*size*mapScale, 12*size*mapScale ),
new City( "Volagrad", 85*size*mapScale, 32*size*mapScale ),
new City( "Stockholm", 40*size*mapScale, 5*size*mapScale ),
new City( "Aqtau", 100*size*mapScale, 35*size*mapScale ),
new City( "Ankara", 72*size*mapScale, 44*size*mapScale ),
new City( "Rabat", 4*size*mapScale, 58*size*mapScale ),
new City( "Algeris", 23*size*mapScale, 50*size*mapScale ),
new City( "Tripoli", 35*size*mapScale, 57*size*mapScale ),
new City( "Alexandria", 53*size*mapScale, 58*size*mapScale ),
new City( "Jerusalem", 75*size*mapScale, 57*size*mapScale ),
new City( "Baghdad", 89*size*mapScale, 56*size*mapScale ),
new City( "Samara", 95*size*mapScale, 20*size*mapScale ),
new City( "Perm", 120*size*mapScale, 6*size*mapScale ),
new City( "St Petersburg", 61*size*mapScale, 5*size*mapScale ),
new City( "Omsk", 150*size*mapScale, 11*size*mapScale ),
new City( "Astana", 132*size*mapScale, 20*size*mapScale ),
new City( "Aktobe", 115*size*mapScale, 25*size*mapScale ),
new City( "Kazan", 100*size*mapScale, 7*size*mapScale ),
new City( "Damascus", 79*size*mapScale, 50*size*mapScale ),
new City( "Tehran", 100*size*mapScale, 50*size*mapScale ),
new City( "Riyadh", 90*size*mapScale, 68*size*mapScale ),
new City( "Shiraz", 106*size*mapScale, 63*size*mapScale ),
new City( "Kabul", 125*size*mapScale, 55*size*mapScale ),
new City( "Almaty", 132*size*mapScale, 40*size*mapScale ),
new City( "Samarhand", 115*size*mapScale, 45*size*mapScale ),
new City( "Islamad", 140*size*mapScale, 57*size*mapScale ),
new City( "Karachi", 130*size*mapScale, 68*size*mapScale ),
 ];

let esc;

img.onload = () => {
<% if (mode === "online"){ %>
  game.addEventListener("open", e => {
    for (player in players){
      players[player].show();
    };
    for (city in cities){
      cities[city].show();
    };
    loop();
  });
<% } else { %>
      for (player in players){
        if (players[player].x % 5 !== 0){
          players[player].x -= players[player].x % 5;
        };
        if (players[player].y % 5 !== 0){
          players[player].y -= players[player].y % 5;
        };
      players[player].show();
    };
    for (city in cities){
      if (cities[city].x % 5 !== 0){
        cities[city].x -= cities[city].x % 5;
      };
      if (cities[city].y % 5 !== 0){
        cities[city].y -= cities[city].y % 5;
      };
      cities[city].show();
    };
    loop();
<% } %>
};
function roundTo(n, digits) {
  if (digits === undefined) {
    digits = 0;
  };
  var multiplicator = Math.pow(10, digits);
  n = parseFloat((n * multiplicator).toFixed(11));
  return Math.round(n) / multiplicator;
};
let turn = 0;
let paused = false;
let winnerCandidates = [];
<% if (mode === 'local4'){ %>
let mouseEvent = {clientX: players[3].x, clientY: players[3].y};
let mouseX;
let mouseY;
<% } %>

    
function loop() {
  <% if (mode === 'online'){ %>
  turn += 0.02;
  turn = roundTo(turn, 2);
  if (Number.isInteger(turn)){
    players[0].updateOnline();
  };
  for (i in players){
    if (players[i] !== players[0]){
      players[i].x += mapOffsetX;
      players[i].y += mapOffsetY;
    };
  };
  <% } else if (mode === "ai" || mode === 'sim'){ %>
  cities.sort((a, b) => {
  if (a.army.s < b.army.s || a.country !== 'neutral'){
    return 1;
  };
  if (a.army.s > b.army.s || b.country !== 'neutral'){
    return -1;
  };
  return 0;
  });
  players.sort((a, b) => {
    if (a.type === 'player'){
      playerIndex = players.indexOf(a);
    };
    if (b.type === 'player'){
      playerIndex = players.indexOf(b);
    };
    if (a.cities.length > b.cities.length || a.coins > b.coins || a.army.s > b.army.s){
      return 1;
    };
    if (a.cities.length < b.cities.length || a.coins < b.coins || a.army.s < b.army.s){
      return -1;
    };
    return 0;
  });
    <% } else if (mode === "local4"){ %>
    mouseX = mouseEvent.clientX;
    mouseY = mouseEvent.clientY;
    mouseX -= mouseEvent.clientX % 5;
    mouseY -= mouseEvent.clientY % 5;
  if (mouseX > players[3].x){
    players[3].xVel = velChange;
  } else if (mouseX < players[3].x){
    players[3].xVel = -velChange;
  } else {
    players[3].xVel = 0;
  };
  if (mouseY > players[3].y){
    players[3].yVel = velChange;
  } else if (mouseY < players[3].y){
    players[3].yVel = -velChange;
  } else {
    players[3].yVel = 0;
  };
  <% } %>
  ctx.clearRect(0,0,canvas.width, canvas.height);
  ctx.drawImage(europeMap,backgroundX,backgroundY, europeMap.naturalWidth*mapScale, europeMap.naturalHeight*mapScale);
  <% if (mode !== 'online'){%>
  winnerCandidates = [];
  for (player in players){
    if (players[player].x % 5 !== 0){
          players[player].x -= players[player].x % 5;
        };
        if (players[player].y % 5 !== 0){
          players[player].y -= players[player].y % 5;
        };
    let expr1 = players[player].army.s !== 0;
    let expr2 = players[player].coins > 10;
    let expr3 = players[player].cities.length !== 0;
    if (expr1 || expr2 || expr3){
      winnerCandidates.push(players[player]);
    } else {
      players[player].playing = false;
      players[player].x = 10000;
      players[player].y = 10000;
    };
    if (players[player].x + players[player].radius*2 < 0){
      players[player].x = canvas.width - players[player].radius+1;
    };
    if (players[player].x - players[player].radius*2 > canvas.width){
      players[player].x = 0 + players[player].radius-1;
    };
    if (players[player].y > canvas.height){
      players[player].y = 0 + players[player].radius+5;
    };
    if (players[player].y < 0){
      players[player].y = canvas.height-5;
    };
    if (players[player].playing){
      players[player].update();
    };
    for (playerI in players){
      let playerCollision = rectCollisionDetect(players[player].rectAround.x, players[player].rectAround.y, players[player].rectAround.width, players[player].rectAround.height, players[playerI].rectAround.x, players[playerI].rectAround.y, players[playerI].rectAround.width, players[playerI].rectAround.height);
    if (playerCollision && playerI !== player){
      let playerResult = battle(players[player].army, players[playerI].army);
      if (playerResult.winner === 'attacker'){
        players[player].x = getRandomInt(50, canvas.width-50);
        players[player].y = getRandomInt(50, canvas.height-50);
        players[playerI].coins += players[player].coins/2;
        players[player].coins = players[player].coins/2;
      } else {
        players[playerI].x = getRandomInt(50, canvas.width-50);
        players[playerI].y = getRandomInt(50, canvas.height-50);
        players[player].coins += players[playerI].coins/2;
        players[playerI].coins = players[playerI].coins/2;
      };
    };
    };
  for (city in cities){
    if (cities[city].coins >= 100 && cities[city].country == 'neutral'){
      cities[city].army.s += 10;
      cities[city].army.e = (cities[city].army.e+1)/2;
      cities[city].army.m = (cities[city].army.m+1)/2;
      cities[city].coins -= 20;
    };
    cities[city].show();
    let collison = rectCollisionDetect(cities[city].rectAround.x, cities[city].rectAround.y, cities[city].rectAround.width, cities[city].rectAround.height, players[player].rectAround.x, players[player].rectAround.y, players[player].rectAround.width, players[player].rectAround.height);
    if (collison){
      if (cities[city].country !== players[player].name){
        let result = battle(cities[city].army, players[player].army);
        if (result.winner === 'attacker'){
          for (playerII in players){
            if (players[playerII].name === cities[city].country && players[player] != players[playerII]){
              players[playerII].cities.splice(players[playerII].cities.indexOf(cities[city].country), 1);
            };
          };
          cities[city].setCountry(players[player].name, players[player].color);
          players[player].cities.push(cities[city].name);
        };
      } else if (cities[city].country === players[player].name && cities[city].coins > 2){
        players[player].coins += Math.floor(cities[city].coins);
        cities[city].coins = 0;
      };
      if (cities[city].country === players[player].name && esc === players[player].key2 && players[player].coins-20 > 0){
        cities[city].army.s += 10;
        cities[city].army.e = (cities[city].army.e+1)/2;
        cities[city].army.m = (cities[city].army.m+1)/2;
        players[player].coins -= 20;
      }
    };
  };
    };
    <% } else {%>
    backgroundX += mapOffsetX;
    backgroundY += mapOffsetY;
for (player in players){
    players[player].update();
};
  for (city in cities){
    cities[city].show();
    let collison = rectCollisionDetect(cities[city].rectAround.x, cities[city].rectAround.y, cities[city].rectAround.width, cities[city].rectAround.height, players[0].rectAround.x, players[0].rectAround.y, players[0].rectAround.width, players[0].rectAround.height);
    if (collison){
      if (cities[city].country !== players[0].name){
        let result = battle(cities[city].army, players[0].army);
        if (result.winner === 'attacker'){
          cities[city].setCountry(players[0].name, players[0].color);
          players[0].cities.push(cities[city].name);
          cities[city].coins = 0;
        };
      } else if (cities[city].country !== 'neutral'){
        players[0].coins += Math.floor(cities[city].coins);
        cities[city].coins = 0;
      };
    };
  };
  requestAnimationFrame(loop);
    <% } %>
  <% if (mode !== 'online'){ %>
  if (esc !== "Escape" && winnerCandidates.length !== 1){
    esc = '';
    requestAnimationFrame(loop);
  } else if (winnerCandidates.length === 1){
    paused = 'end';
    ctx.font = "160px Arial";
    ctx.fillStyle = "black";
    let win = ctx.measureText(winnerCandidates[0].name + ' won!');
    ctx.fillText(winnerCandidates[0].name + ' won!', (canvas.width-win.width)/2, 380);
    setTimeout(function(){
      window.location.href = '';
    }, 20000);
  } else {
    paused = true;
    ctx.font = "250px Arial";
    ctx.fillStyle = "black";
    ctx.fillText('Paused', 400, 450)
  };
    <% } %>
};

var velChange = 5;
<% if (mode === 'online'){ %>
game.addEventListener("message", msg => {
  let player = messageDecoder(msg.data);
  let i = playersName.indexOf(player.name);
  if (i == -1){
    players.push(new Player(player.name, player.color, player.x, player.y, {s: player.s, m: player.m, b: player.b, e: player.e}, player.cities));
    playersName.push(player.name);
  } else if(players[0].name != player.name){
    players[i].x = players[0].x-player.x+backgroundX1;
    players[i].y = players[0].y-player.y+backgroundY1;
  };
});
<% } %>
document.addEventListener("keydown", event => {
  <% if (mode === 'online'){ %>
    if (event.code === "KeyW" || event.code === "ArrowUp"){
      mapOffsetY = velChange;
    };
    if (event.code === "KeyS" || event.code === "ArrowDown"){
      mapOffsetY = -velChange;
    };
    if (event.code === "KeyA" || event.code === "ArrowLeft"){
      mapOffsetX = velChange;
    };
    if (event.code === "KeyD" || event.code === "ArrowRight"){
      mapOffsetX = -velChange;
    };
  <% } else if (mode === 'local') { %>
    if (event.code === "KeyW"){
      players[0].yVel = -velChange;
    };
    if (event.code === "ArrowUp"){
      players[1].yVel = -velChange;
    };
    if (event.code === "KeyS"){
      players[0].yVel = velChange;
    };
    if (event.code === "ArrowDown"){
      players[1].yVel = velChange;
    };
    if (event.code === "KeyA"){
      players[0].xVel = -velChange;
    };
    if (event.code === "ArrowLeft"){
      players[1].xVel = -velChange;
    };
    if (event.code === "KeyD"){
      players[0].xVel = velChange;
    };
    if (event.code === "ArrowRight"){
      players[1].xVel = velChange;
    };
    <% } else if (mode === 'local3' || mode === "local4") { %>
    if (event.code === "KeyW"){
      players[0].yVel = -velChange;
    };
    if (event.code === "ArrowUp"){
      players[1].yVel = -velChange;
    };
    if (event.code === 'KeyY'){
      players[2].yVel = -velChange;
    };
    if (event.code === "KeyS"){
      players[0].yVel = velChange;
    };
    if (event.code === "ArrowDown"){
      players[1].yVel = velChange;
    };
    if (event.code === 'KeyH'){
      players[2].yVel = velChange;
    };
    if (event.code === "KeyA"){
      players[0].xVel = -velChange;
    };
    if (event.code === "ArrowLeft"){
      players[1].xVel = -velChange;
    };
    if (event.code === 'KeyG'){
      players[2].xVel = -velChange;
    };
    if (event.code === "KeyD"){
      players[0].xVel = velChange;
    };
    if (event.code === "ArrowRight"){
      players[1].xVel = velChange;
    };
    if (event.code === 'KeyJ'){
      players[2].xVel = velChange;
    };
  <% } else if (mode === 'ai'){ %>
    if (event.code === "KeyW" || event.code === 'ArrowUp'){
      players[playerIndex].yVel = -velChange;
    };
    if (event.code === "KeyS" || event.code === 'ArrowDown'){
      players[playerIndex].yVel = velChange;
    };
    if (event.code === "KeyA" || event.code === 'ArrowLeft'){
      players[playerIndex].xVel = -velChange;
    };
    if (event.code === "KeyD" || event.code === 'ArrowRight'){
      players[playerIndex].xVel = velChange;
    };
    <% } %>
});
document.addEventListener("keyup", event => {
  esc = event.code;
  <% if (mode === 'online'){ %>
  if (event.code === "KeyW" || event.code === "ArrowUp"){
    mapOffsetY = 0;
  };
  if (event.code === "KeyS" || event.code === "ArrowDown"){
    mapOffsetY = 0;
  };
  if (event.code === "KeyA" || event.code === "ArrowLeft"){
    mapOffsetX = 0;
  };
  if (event.code === "KeyD" || event.code === "ArrowRight"){
    mapOffsetX = 0;
  };
  if (event.code === 'KeyN'){
    if (players[0].coins - 10 >= 0){
      players[0].coins -= 10;
      players[0].army.s += 10;
      players[0].army.e = (players[0].army.e+1)/2;
      players[0].army.m = (players[0].army.m+1)/2;
    };
  };
    <% } else if (mode === "local") { %>
    if (event.code === 'Escape' && paused == true && paused !== 'end'){
      paused = false;
      esc = '';
      loop();
    };
    if (event.code === "KeyW"){
      players[0].yVel = 0;
    };
    if (event.code === "ArrowUp"){
      players[1].yVel = 0;
    };
    if (event.code === "KeyS"){
      players[0].yVel = 0;
    };
    if (event.code === "ArrowDown"){
      players[1].yVel = 0;
    };
    if (event.code === "KeyA"){
      players[0].xVel = 0;
    };
    if (event.code === "ArrowLeft"){
      players[1].xVel = 0;
    };
    if (event.code === "KeyD"){
      players[0].xVel = 0;
    };
    if (event.code === "ArrowRight"){
      players[1].xVel = 0;
    };
    if (event.code === 'KeyQ'){
    if (players[0].coins - 20 >= 0){
      players[0].coins -= 20;
      players[0].army.s += 10;
      players[0].army.e = (players[0].army.e+1)/2;
      players[0].army.m = (players[0].army.m+1)/2;
    };
  };
    if (event.code === 'KeyN'){
    if (players[1].coins - 20 >= 0){
      players[1].coins -= 20;
      players[1].army.s += 10;
      players[1].army.e = (players[1].army.e+1)/2;
      players[1].army.m = (players[1].army.m+1)/2;
    };
  };
    <% } else if (mode === "local3" || mode === "local4") { %>
    if (event.code === 'Escape' && paused == true && paused !== 'end'){
      paused = false;
      esc = '';
      loop();
    };
    if (event.code === "KeyW"){
      players[0].yVel = 0;
    };
    if (event.code === "ArrowUp"){
      players[1].yVel = 0;
    };
    if (event.code === "KeyY"){
      players[2].yVel = 0;
    };
    if (event.code === "KeyS"){
      players[0].yVel = 0;
    };
    if (event.code === "ArrowDown"){
      players[1].yVel = 0;
    };
    if (event.code === "KeyH"){
      players[2].yVel = 0;
    };
    if (event.code === "KeyA"){
      players[0].xVel = 0;
    };
    if (event.code === "ArrowLeft"){
      players[1].xVel = 0;
    };
    if (event.code === "KeyG"){
      players[2].xVel = 0;
    };
    if (event.code === "KeyD"){
      players[0].xVel = 0;
    };
    if (event.code === "ArrowRight"){
      players[1].xVel = 0;
    };
    if (event.code === "KeyJ"){
      players[2].xVel = 0;
    };
    if (event.code === 'KeyQ'){
    if (players[0].coins - 20 >= 0){
      players[0].coins -= 20;
      players[0].army.s += 10;
      players[0].army.e = (players[0].army.e+1)/2;
      players[0].army.m = (players[0].army.m+1)/2;
    };
  };
    if (event.code === 'ShiftRight'){
    if (players[1].coins - 20 >= 0){
      players[1].coins -= 20;
      players[1].army.s += 10;
      players[1].army.e = (players[1].army.e+1)/2;
      players[1].army.m = (players[1].army.m+1)/2;
    };
  };
    if (event.code === 'KeyN'){
    if (players[2].coins - 20 >= 0){
      players[2].coins -= 20;
      players[2].army.s += 10;
      players[2].army.e = (players[1].army.e+1)/2;
      players[2].army.m = (players[1].army.m+1)/2;
    };
  };
    <% } else if (mode === 'ai'){ %>
    if (event.code === 'Escape' && paused == true && paused !== 'end'){
      paused = false;
      esc = '';
      loop();
    };
    if (event.code === "KeyW" || event.code === 'ArrowUp'){
      players[playerIndex].yVel = 0;
    };
    if (event.code === "KeyS" || event.code === 'ArrowDown'){
      players[playerIndex].yVel = 0;
    };
    if (event.code === "KeyA" || event.code === 'ArrowLeft'){
      players[playerIndex].xVel = 0;
    };
    if (event.code === "KeyD" || event.code === 'ArrowRight'){
      players[playerIndex].xVel = 0;
    };
    if (event.code === "KeyN"){
      if (players[playerIndex].coins - 20 >= 0){
        players[playerIndex].coins -= 20;
        players[playerIndex].army.s += 10;
        players[playerIndex].army.e = (players[playerIndex].army.e+1)/2;
        players[playerIndex].army.m = (players[playerIndex].army.m+1)/2;
      };
    };
    <% } else if (mode === 'sim'){ %>
    if (event.code === 'Escape' && paused == true && paused !== 'end'){
      paused = false;
      loop();
    };
    <% } %>
});
<% if (mode === 'local4'){ %>

document.addEventListener("mousemove", event => {
  mouseEvent = event;
});

document.addEventListener("click", event => {
  if (players[3].coins - 20 >= 0){
    players[3].coins -= 20;
    players[3].army.s += 10;
    players[3].army.e = (players[3].army.e+1)/2;
    players[3].army.m = (players[3].army.m+1)/2;
  };
});

document.oncontextmenu = function(){
  esc = 'Mouse';
  return false;
};

<% } else { %>
document.oncontextmenu = function(){
  return false;
};
<% } %>
</script>
  <%- include('footer') -%>
