<%- include('header'); -%>
  <div class="home">
    <div class="first-window" id="chat">
          <h1 class="title">Chat</h1>
          <div class="input-group mb-3 name" id="chat-div">
      <input type="text" class="form-control" placeholder="Connecting..." aria-label="Message" aria-describedby="button-addon2" id="mes" disabled maxlength="25">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="sendms()">Send</button>
    </div>
    <span id="blah"></span>
        </div>
    <div class="main-window">
    <h1 class="title">Militia.io</h1>
      <form class="form-group" action="/game" method="post">
      <h5 class="name">Name: </h5>
      <input class="name form-control" placeholder="Name" name="name" type="text" value="<%=user.username%>"/>
        <button type="submit" class="btn btn-outline-dark button">Play</button>
        </form>
      <div>
        <!--This part is coming later-->
      </div>
    </div>
    <div class="login-window">
      <h1 class="title" style="overflow: auto"><%= user.username %></h1>
      <button type="button" class="btn btn-link" style="display: inline; float: right; margin-right: 10%;" onclick="location.href='/logout'">Logout</button>
    </div>
  </div>
  <script>
      const socket = new WebSocket('wss://militiaio.onrender.com/chat');
    socket.addEventListener('open', event => {
      document.getElementById("mes").disabled = false;
      document.getElementById("mes").placeholder = "Chat";
    console.log('WebSocket connection established');
    });

socket.addEventListener('message', event => {
  if (event.data !== ''){
  const messageDiv = document.createElement("p");
  messageDiv.innerText = event.data;
  messageDiv.className = "message";
  document.getElementById('chat').insertBefore(messageDiv, document.getElementById('blah'));
  if (document.getElementsByClassName('message').length >= 11){
  document.getElementsByClassName('message')[0].remove();
  };
  };
});
document.addEventListener('keypress', event => {
  if (event.code === "Enter"){
  sendms();
  };
});
socket.addEventListener('close', event => {
  console.log('WebSocket connection closed');
  document.getElementById("mes").placeholder = "Connection closed";
  document.getElementById("mes").disabled = true;
});

socket.addEventListener('error', error => {
  console.error(error);
  document.getElementById("mes").placeholder = "Error";
  document.getElementById("mes").disabled = true;
});
    function limit (string = '', limit = 0) {  
  return string.substring(0, limit)
}
    let username = '<%=user.username%>';
      if (username.length > 10){
        username = limit(username, 10) + "... ";
      };
    function sendms(){
    if (document.getElementById('mes').value !== ""){
      socket.send(username + ": " + document.getElementById('mes').value);
      document.getElementById('mes').value = "";
      };
    };
    </script>
<%- include('footer'); -%>